body{
    margin: 2.5rem;
    color: white;
}
.a1{
    border: 1px solid black ;
    padding: 1.5rem;
    width: 12rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;    
}
#num1_el{
    text-decoration: underline;
}
#num2_el{
    text-decoration: underline;
    padding-left: 0.5rem;
}
.ans{
    margin-left: 5rem;
}
#answer_el{
    margin-left: 0.5rem;
}
.a2{
    border: 1px solid black;
    padding: 1.5rem;
    width: 12rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; 
}

.change{
    height: 3.5rem;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}
.change_num1{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.change_num2{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.item{
    border: 1px solid black;
}
.item:nth-of-type(1){
    grid-row: 1 / 3;
    justify-self: center; 
    align-self: center;  
    border: 0px; 
}
.item:nth-of-type(2){
    justify-self: start; 
    align-self: end;
    border: 0px; 
}
.item:nth-of-type(3){
    justify-self: start; 
    align-self: start;
    border: 0px; 
}
.button{
    font-size: 0.5rem;
}
#add{
    margin-top: 0.5rem;
}
#multiply{
    margin-top: 0.5rem;
}
#substract{
    margin-top: 0.3rem;
}
#divide{
    margin-top: 00.3rem;
}
#calculate{
    margin-left: 5.5rem;
}
